---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$color-dark-yellow: #E9FF3E;
$color-yellow: #FFE200;
$color-blue: #0275D8;
$color-dark-blue: #014C8C;

$spacing-unit:     30px;
$spacing-container: 150px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #989898;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-lighter: lighten($grey-color, 34%);
$grey-color-dark:  darken($grey-color, 25%);

$breakpoints: (
  // Extra small screen / phone
  xs: 22em,
  // Small screen / phone
  sm: 34em,
  // Medium screen / tablet
  md: 48em,
  // Large screen / desktop
  lg: 62em,
  // Extra large screen / wide desktop
  xl: 75em
) !default;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "../bower_components/bootstrap/scss/bootstrap-flex.scss",
        "../bower_components/fontawesome/scss/font-awesome.scss",
        "_mixins",
        "base",
        "layouts",
        "mailchimp",
        "syntax-highlighting"
;
