<header>
	<div>
		<div class="profile">
			<a href="http://me.dayman.io" target="_blank">
				<div class="img">
			    	<img src="/blog/src/img/me.jpg">
		    	</div>
	    	</a>
    		<a class="profile-name" href="http://me.dayman.io" target="_blank">
	    			Dayman Novaes
    		</a>
		</div>
	    <span class="text">	
		    <a href="{{ site.baseurl }}/">/Blog</a>
		    <br>
	    	// Um pouco de filosofia sobre desenvolvimento, quer ouvir a minha opinião? <small>(eu quero ouvir a sua)</small>
	    </span>
    </div>
</header>

{% include mailchimp/form-header.html pre="header" %}
