/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-center-vertical {
    @extend .flex;
    align-items: center;
}
.flex-center-horizontal {
    @extend .flex;
    justify-content: center;
}
.flex-center {
    @extend .flex-center-vertical;
    @extend .flex-center-horizontal;
}
.center-horizontal {
    @extend .flex-center-horizontal;

    > * {
        margin: 0 auto;
        display: block;
    }
}

.base-container-style {
    min-height: $spacing-container;
    background-color: $grey-color-lighter;
}

.container-max {
  @include make-container();

  // For each breakpoint, define the maximum width of the container in a media query
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      width: $container-max-width;
    }
  }
}
.container-padding {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.title-font {
    font-family: 'PT Sans Narrow', sans-serif;
}

.line-through, .line-crossed, del {
    text-decoration: line-through;
}
ins {
    text-decoration: none;
}

.two-images, .two-columns {
    @include media-query(sm) {
        @include make-row();
    }

    > * {
        @extend .col-md-6;
        @extend .col-sm-12;
    }

    @include media-query(md) {
        &.join > * {
            &:first-child {
                text-align: right;
            }
            &:last-child {
                text-align: left;
            }
        }
    }
}

img {
    max-width: 100%;
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

q { 
    display: inline;
    font-style: italic;
}

q:before { 
    content: '~';
}

q:after { 
    content: '~';
}