/**
 * MAIN
 */

$min-height-article-xs: #{map-get($breakpoints, xs)/2 + 1};
$min-height-article: 300px;
body > main {
    @extend .container;

    margin-bottom: $spacing-unit;

    > div {
        @extend .flex;
        flex-flow: row wrap;

        article {
        	@include flex(1 0 $min-height-article-xs);

			@include media-query(xs) {
				@include flex(1 0 300px);
				max-width: 350px;
			}

			margin: 0 .9rem 3rem;
			border-radius: 1px;
			display: inline-block;
			position: relative;
			background-color: $grey-color;

			@include transition(150ms all);
			&:hover {
				box-shadow: 0 0 15px 0px rgba(0,0,0,0.2),0 3px 3px 0 rgba(0,0,0,0.24);

				.image {
					background-size: 108%;
					@include filter(brightness(100%));
				}
			}

			.image {
				min-width: 0;
				min-height: 0;
				display: none; //hide image on small screens

				@include media-query(xs) {
					min-width: 300px;
					min-height: 150px;
					display: block;
				}

				//this prevent load image in extra smalls screens
				@include media-query-down(xs) {
					background: none !important;
					background-image: none !important;
				}

				background-size: 110%;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				
				@include transition(300ms all);
				@include filter(brightness(90%));

				position: relative;
				a {
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
			.body {
				padding: $spacing-unit/2;

				h2 a {
					@extend .title-font;
					color: #FFFFFF;
					text-shadow: 0px 2px 0px rgb(134, 134, 134);
					font-size: 26px;
					line-height: 33px;
				}

				time {
					color: #333;
					margin: 9px 0;
					font-size: 12px;
				}

				> a {
					&:hover {
						text-decoration: none;
					}
					p {
						color: #eee;

					}
				}
			}
        }
    }
}