/**
 * MAIN
 */
body > main {
    @extend .container;

    margin-bottom: $spacing-unit;

    > div {
        @extend .flex;
        flex-flow: row wrap;

        article {
	        -webkit-flex: 1 0 300px;
		    -ms-flex: 1 0 300px;
		    flex: 1 0 300px;

		    margin: 0 .9rem 3rem;
		    border-radius: 1px;
		    max-width: 350px;
		    display: inline-block;
		    position: relative;
		    background-color: $grey-color;

		    @include transition(150ms all);
		    &:hover {
    			box-shadow: 0 0 15px 0px rgba(0,0,0,0.2),0 3px 3px 0 rgba(0,0,0,0.24);

    			.image {
		    		background-size: 108%;
		    		@include filter(brightness(100%));
		    	}
		    }

		    .image {
		    	background: url(http://s2.glbimg.com/lzd1w32s1Z-7lUdoMafQUuCVYOg=/0x250:4500x2655/524x280/s.glbimg.com/es/ge/f/original/2015/12/27/messi_neymar_suarez_barcelona.jpg);
		    	min-width: 300px;
		    	min-height: 150px;

		    	background-size: 110%;
		    	background-position: 50% 50%;
		    	background-repeat: no-repeat;
		    	
		    	@include transition(300ms all);
	    		@include filter(brightness(90%));

		    	position: relative;
		    	a {
		    		position: absolute;
		    		width: 100%;
		    		height: 100%;
		    	}
		    }
		    .body {
		    	padding: $spacing-unit/2;

		    	h2 a {
	    		    color: #FFFFFF;
    				text-shadow: 0px 2px 0px rgb(134, 134, 134);

    				font-family: 'PT Sans Narrow', sans-serif;
				    font-size: 26px;
				    line-height: 33px;
		    	}

		    	time {
		    		color: #333;
    				margin: 9px 0;
    				font-size: 12px;
		    	}

		    	p {
		    		color: #eee;
		    	}
		    }
        }
    }
}