/**
 * FOOTER
 */
body > footer {
    @extend .flex-center;
    @extend .base-container-style;
    margin-bottom: $spacing-unit;
    
    p {
    	@extend .container-padding;
        color: $grey-color;
        text-shadow: 0px 2px 0px #FFF;
    }
    a, a:hover {
        color: $grey-color !important;
    }
}