/**
 * POST
 */
.post {
    article {
        @include container(0.8);

        margin-bottom: $spacing-unit * 2;
        font-size: 1.25rem;

        header {
            margin-bottom: $spacing-unit;

            time {
                color: $grey-color;
            }

            h1 {
                @extend .title-font;
                color: #333;
                text-shadow: 1px 2px 0px #ccc;
                font-size: 60px;
            }
        }
        .highlight.pre {
            border-radius: 3px;
            background-color: #272822;
            padding: 4px 12px;
        }

        h2, h3, h4, h5, h6 {
            @extend .title-font;

            margin-bottom: 10px;
            color: #333;
            text-shadow: 2px 2px 0px #e8e8e8;

            &.image-title {
                margin-bottom: 5px;
                color: #555;
                text-shadow: none;
            }
        }

        p, .p {
            margin-bottom: $spacing-unit;
        }

        ul {
            margin: 0 0 $spacing-unit 40px;
        }

        table {
            margin: 40px 0;
        }

        pre {
            margin: $spacing-unit 0;
        }

        small:not(.clear) {
            &:before {
                content: "(";
            }
            &:after {
                content: ")";
            }
        }

        hr {
            width: 50px;
            margin: $spacing-unit auto;
        }


        table {
            display: block;
            width: 100%;
            overflow: auto;
            word-break: normal;
            word-break: keep-all;

            th {
                font-weight: bold;
            }

            th, td {
                padding: 6px 13px;
                border: 1px solid #ddd;
            }

            tr {
                background-color: #fff;
                border-top: 1px solid #ccc;
            }
        }
    }
    
    hr {
        @include container(0.6);
        margin-bottom: $spacing-unit;
    }

    .comments {
        @include container(0.65);
        margin-bottom: $spacing-unit;

        h2, h3 {
            @extend .title-font;
            margin-bottom: $spacing-unit / 2;
            text-shadow: 0px 2px 0px #ddd;
        }
    }
    .share, .share-inner {
        &:before, &:after {
            content: '';
            display: table
        }

        &:after {
            clear: both
        }

        a {
            text-decoration: none;
            border: none;

            &:hover svg {
                fill: $color-blue;
            }
        }
    }

    .share {
        @include container(0.6);

        text-align: center;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        svg {
            margin: .938rem;
            width: 35px;
            height: 35px
        }
    }

    .share-inner {
        border-left: 3px solid $color-blue;
        padding-left: 15px;
        padding-bottom: 5px;
        border-radius: 3px;
        @include transition(100ms border-left);

        &:hover {
            border-left: 3px solid $color-dark-blue;
            @include transition(300ms border-left);
        }

        svg {
            margin: 10px 10px 0 10px;
            width: 20px;
            height: 20px;
        }
    }
}