/**
 * HEADER
 */

$img-height: 100px;

body > header {
    @extend .flex-center;
    @extend .base-container-style;

    > div {
        @extend .flex-center-vertical;
    	@extend .container-max;
    }

    span.text {
        color: $grey-color;
        display: block;
        margin: 30px auto;
    }

    @include media-query-down(sm) {
        .profile-name {
            display: none;
        }
    }

    .profile {
        text-align: center;
        margin-right: 30px;

        .img, img {
            @include border-radius(50%);
        }
        a, a:hover {
            color: $grey-color !important;
        }
        
        .img {
            width: $img-height;
            height: $img-height;
            border: 3px solid #DEDEDE;
            border-bottom: 1px solid #CECECE;
            padding: 2px;

            margin: 0 auto;

            @include transition(200ms all);

            display: block;
            cursor: pointer;
            
            &::before {
                content: 'sobre';
                position: absolute;
                text-align: center;
                width: $img-height - 10px;
                height: $img-height - 10px;
                line-height: $img-height * 1.1;
                background: rgba(0, 0, 0, 0.34);
                border-radius: 50%;
                color: #EEE;
                opacity: 0;

                @include transition(200ms opacity);
            }
        }

        &:hover .img {
            border: 3px solid #CECECE;
            border-bottom: 1px solid #CECECE;

            &:hover::before {
                opacity: 1;
            }
        }
    }
}