/**
 * MAILCHIMP
 */

.mailchimp {
    input[type="email"], input[type="text"] {
        padding: 0.245rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #55595c;
        background-color: #fff;
        background-image: none;
        border: 3px solid #DEDEDE;
        border-radius: 0.25rem;
        outline: none !important;
        margin: 0 5px 0 0;
    }
    input[type="submit"], button {
        background-color: $color-blue;
        color: #FFF;

        &:hover {
            background-color: $color-dark-blue;
        }
    }
    @include media-query-down(sm) {
        input[type="email"], input[type="text"] {
            margin-bottom: 15px;
        }
    }

    &.header, &.footer {
    	background: #F3F3F3;
        text-align: center;
        color: #444;
    }
    
    &.header {
        border-top: 5px solid #DEDEDE;

        padding: $spacing-unit/2 0;
        margin-bottom: $spacing-unit;

        > div {
            @extend .container;
        }

        label {
            margin-right: 20px;
        }
    }

    &.footer {
        @include container(0.7);

        border-top: 5px solid #D4D4D4;
        border-bottom: 5px solid #BDBDBD;

        padding: 30px 15px;

        label {
            display: block;
            margin-bottom: 1.5rem;
        }
    }

    &.inner {
        margin: 30px auto;
        text-align: center;
    }
}