---
# nothing here
---

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">

  {% include head-post.html %}

  <body>

  {% include svg-icons.html %}
  {% include header.html %}
    <section class="post">
      <article itemscope itemtype="http://schema.org/BlogPosting">
        
        {% include header-post.html %}
        
        <section itemprop="articleBody">
          {{ content }}
        </section>
      </article>

      {% include mailchimp/form-footer.html %}

      {% include share.html %}
      
      {% if page.comments != false %}
        <hr />

        {% include comments.html %}

      {% endif %}
    </section>

    {% include footer.html %}


  </body>

</html>
